.rating-table{
    color: white;
    width: 80%;
    font-family: Rubik;
}
.rating-table-header{
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.table-platform-img{
    width: 4.4vh;
    height: auto;
    margin-right: 10px;
    align-self: center;
}

.table-header-title{
    vertical-align: middle;
    font-size: x-large;
}

table{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow-x: auto;
    overflow: hidden;
    /* box-shadow: 0.5px 0.5px 1px 0px rgba(255, 255, 255, 0.66); */
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.15);
}

thead{
    background-color: rgba(0, 0, 0, 0.306);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.46);
    color: white;
    border-radius: 8px;
}


.table-user-rank{
    text-align: left;
}

.table-user-name, .table-user-rating{
    text-align: center;
    vertical-align: middle;
}

.heading-rank{
    text-align: left;
}

th,td{
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(47, 47, 47, 0.272);
}

tbody tr:hover{
    background-color: rgba(224, 224, 224, 0.68);
    color: black;
}


/* CSS for home rating card */

.ratings-text{
  width: 90vw;
  text-align: center;
  font-size: 3em;
  font-family:  Cal Sans,Cal Sans Fallback,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: bold;
  
  color: rgba(255, 166, 0, 1);
}

.rating-cards{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding: 2px;
}

.home-rating-card{
    width: 30%;
    background: linear-gradient(180deg, rgb(32, 32, 32) 0%, rgb(40, 40, 40) 100%);
    color: white;
    border: 0.5px solid rgb(55, 55, 55);
    border-radius: 5px;
    padding: 2px;
    margin: 2.2vh;
    margin-top: 0vh;
}

.home-rating-card:hover{
    box-shadow: 0px 0px 1px 0.5px white;
}

.home-rating-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: larger;
}

.platform-img{
    width: 3.3vh;
    height: auto;
    margin-right: 1vh;
    border-radius: 4px;
}

.rating-card-data{
    display: flex;
    color: black;
    align-items: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-family: Lora;
    padding: 2vh;
    border-radius: 25px;
    overflow: hidden;
    border-radius: 70px;
    margin: 2vh;
}

.rating-card-data:hover{
    scale: 102%;
}

.rating-card-name{
    margin-left: 1vh;
    font-size: larger;
    justify-content: left;
}


.rating-card-rating{
    margin-right: 1vh;
    margin-left: auto;
    align-items: right;
    font-size: larger;
}

.bgclr-1{
    background-color: rgb(255, 125, 0);
}
.bgclr-2{
    background-color: rgb(255, 160, 0);
}
.bgclr-3{
    background-color: rgb(255, 195, 0);
}