.navBar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1vh;
  background-color: black;
  text-align: center;
  border-bottom: 1px solid grey;
  width: 100%;
  z-index: 1;
}

#logo1 {
  width: 23%;
  height: auto;
  min-width: 50px;
  display: flex;
}

.navGroup {
  margin-left: auto;
  right: 0px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color :white;
  background-color: rgba(0, 0, 0, 0);
  padding: right;
  float: right;
}

a{
  color: white;
}
  .navGroup a {
  font-size: large;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
}

.navGroup a:hover {
  color: #ffA500;
}

.glow-text-nav-bar {
  color: #ffA500;
  border-bottom: 1px solid #ffA500;
  border-right: 1px solid #ffA500;
}

.side-image-nav-bar {
  display: flex;
  padding: 0px;
  padding-left: 2%;
  width: 15%;
  /* height: 130%; */
}
.dropdown-content{
  display: none;
}
.dropdown:hover{
  display: block;
}