.blog-card{
  position: relative;
  width: 20vw;
  height: auto;
  padding: 0.5%;
  margin: 1vw;
  color: white;
  border : 1px solid #4d4d4d;
  border-radius: 7px; /*thala for a reason*/
  overflow: hidden;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  display: grid;
}

.blog-card:hover{
  background-color:#202020;
  /* overflow: auto;   */
}
.blog-card-body{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid #000000;
}
.blog-card-body p{
  text-align: left;
  margin-top: 7px; /*thala for a reason*/
  font-size: 80%;
}

.blog-card-image img{
  max-width: 98%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.blog-card-title{
  /* padding: 0.1%; */
  display: inline-block;
  text-align: left;
}
.blog-card-footer{
  display: inline-block;
  flex-direction: row;
  font-size: 12px;
  margin-top: 5px;
}
.blog-card-author{
  display: flex;
  justify-content: flex-end;
  float: right;
  /* text-align: right; */
}
.blog-card-author h4{
  font-size: medium;
}
.blog-card::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}
